{% extends "base.html" %}
{% load rest_framework %}
{% block content %}

    <div class="card px-4 py-4">

        <h3 class="card-title text-center">Edit book info for {{ book.title }}</h3>

        {% if errors %}
            <div class="text-danger">{{ message }}:</div><br>
            {% if errors.title %}
                <div class="text-danger">
                    Title: {{ errors.title|first }}</div><br>{% endif %}
            {% if errors.owner %}
                <div class="text-danger">
                    Owner: {{ errors.owner|first }}</div><br>{% endif %}
        {% endif %}

        <div class="container">
            <form action="{% url 'shelves:book/edit/' book.id %}" method="POST">
                {% csrf_token %}
                {% render_form serializer template_pack='rest_framework/vertical' %}
                <div class="form-group ">
                    <label>
                        Книжный шкаф
                    </label>
                    <select class="form-control mb-3" name="bookcase">
                        {% for case in bookcase %}
                            <option value="{{ case.id }}">{{ case.title }}</option>
                        {% endfor %}
                    </select>
                    <label>
                        Полка
                    </label>
                    <select class="form-control mb-3" name="shelf">
                        {% for item in shelf %}
                            <option value="{{ item.id }}">{{ item.bookcase.title }} - {{ item.title }},
                            {{ item.row }} ряд</option>
                        {% endfor %}
                    </select>
                    <label>
                        Автор
                    </label>
                    <select class="form-control mb-3" name="author">
                        {% for person in author %}
                            <option value="{{ person.id }}">{{ person.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="btn btn-outline-dark" type="submit" value="Save">
            </form>
        </div>
    </div>


{% endblock content %}