{% extends "base.html" %}
{% load rest_framework %}
{% block content %}

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Все шкафы:</h3>

            {# pagination #}
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if previous %}
                        <a class="page-link text-dark text-decoration-none" href={{ previous }}>previous bookcases</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    {% if next %}
                        <a class="page-link text-dark text-decoration-none" href={{ next }}>next bookcases</a>
                    {% endif %}
                </li>
            </ul>

            <div class="card-text">
                <div class="list-group text-center">

                    {% for bookcase in results %}

                        <a class="list-group-item list-group-item-action"
                           href="{% url 'shelves:bookcase/' pk=bookcase.id %}">
                            {{ bookcase.title }} - {{ bookcase.books|length }} книг
                        </a>
                    {% endfor %}

                    <a class="list-group-item list-group-item-action list-group-item-light"
                       href="{% url 'shelves:bookcase/create/' %}">Add new bookcase</a>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}