{% extends "base.html" %}
{% load rest_framework %}
{% block content %}

    <div class="card px-4 py-4">

        <h3 class="card-title text-center">New bookcase creation</h3>
        <div class="container">
            <form action="{% url 'shelves:bookcase/create/' %}" method="POST">
                {% csrf_token %}
                {% render_form serializer template_pack='rest_framework/vertical' %}
                <input class="btn btn-outline-dark" type="submit" value="Save">
            </form>
        </div>
    </div>


{% endblock content %}