{% extends "base.html" %}
{% load rest_framework %}
{% block content %}

    <div class="card px-4 py-4">

        <h3 class="card-title text-center">Edit book info for {{ book.title }}</h3>

        {% if errors %}
            <div class="text-danger">{{ message }}:</div><br>
            {% if errors.title %}
                <div class="text-danger">
                    Title: {{ errors.title|first }}</div><br>{% endif %}
            {% if errors.owner %}
                <div class="text-danger">
                    Owner: {{ errors.owner|first }}</div><br>{% endif %}
        {% endif %}


        <div class="container">
            <form action="{% url 'shelves:book/edit/' book.id %}" method="POST">
                {% csrf_token %}

                <div class="form-group ">

                    <label for="title_input">Title</label>
                    <input id="title_input" name="title" class="form-control mb-3" type="text" value="{{ book.title }}">

                    <label for="pages_input">Pages</label>
                    <input id="pages_input" name="pages" class="form-control mb-3" type="text" value="{{ book.pages }}">

                    <label for="year_input">Year of publication</label>
                    <input id="year_input" name="year_of_publication" class="form-control mb-3" type="text"
                           value="{{ book.year_of_publication }}">

                    <label for="language_input">Language</label>
                    <input id="language_input" name="language" class="form-control mb-3" type="text"
                           value="{{ book.language }}">

                    <label for="ISBN_input">ISBN</label>
                    <input id="ISBN_input" name="ISBN" class="form-control mb-3" type="text" value="{{ book.ISBN }}">

                    <label for="cover_input">Type of cover</label>
                    <input id="cover_input" name="type_of_cover" class="form-control mb-3" type="text"
                           value="{{ book.type_of_cover }}">

                    <label>
                        {% if book.read %}
                            <input type="checkbox" name="read" value="{{ 1 }}" class="mb-3" checked>
                        {% else %}
                            <input type="checkbox" name="read" value="{{ 1 }}" class="mb-3">
                        {% endif %}
                        Read
                    </label><br>


                    <label for="author_input">Author</label>
                    <select id="author_input" class="form-control mb-3" name="author">
                        <option value="{{ book.author.id }}">{{ book.author.name }}</option>
                        {% for item in author %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="bookcase_input">Bookcase</label>
                    <select id="bookcase_input" class="form-control mb-3" name="bookcase">
                        <option value="{{ book.bookcase.id }}">{{ book.bookcase.title }}</option>
                        {% for item in bookcase %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                    <label for="shelf_input">Shelf</label>
                    <select id="shelf_input" class="form-control mb-3" name="shelf">
                        <option value="{{ book.shelf.id }}">{{ book.shelf.title }}</option>
                        {% for item in shelf %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>

                </div>

                <input type="hidden" name="_method" value="put">
                <input class="btn btn-outline-dark" type="submit" value="Save">
            </form>
        </div>
    </div>


{% endblock content %}